@model EnjoyOurTour.Models.ViewModel.Admin.UserViewModel

    @{
        ViewBag.Title = "UpdatePassword";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <form id="AddAgentForm" name="AddAgentForm" method="post">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-lg-offset-3">
                <h1 class="page-header">Update Password</h1>
            </div>
            <div class="col-md-6 col-lg-3 col-lg-offset-3">
                <input hidden id="UserId" name="UserId" value="@Model.UserId" />
                <div class="form-group">
                    <label for="CurrentPassword" id="CurrentPassword">Current Password:</label>
                    <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Enter Current Pasword" />
                </div>
                <div class="form-group">
                    <label for="NewPassword" id="NewPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Enter New Pasword" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-9">
                <button type="submit" id="editAdminProfile" class="btn btn-primary pull-right">Update Profile</button>
            </div>
        </div>
    </form>


    <script>
        $(document).ready(function () {
            $('#editAdminProfile').click(function (e) {
                e.preventDefault();
                $('.loading').css('display', 'block');
                debugger
                if ($('#oldPassword').val() == '') {
                    $('#CurrentPassword').html('<span class="asterisk" style="color:red">*Please enter Current Password.</span>');
                } else {
                    $("#CurrentPassword .asterisk").remove();
                    $('#CurrentPassword').html('Current Password:');
                }

                if ($('#newPassword').val() == '') {
                    $('#NewPassword').html('<span class="asterisk" style="color:red">*Please enter New Password.</span>');
                } else {
                    $("#NewPassword .asterisk").remove();
                    $('#NewPassword').html('New Password:');
                }

                if ($('.asterisk').val() == undefined) {
                    var formData = new FormData();
                    formData.append('UserId', $('#UserId').val());
                    formData.append('CurrentPassword', $('#oldPassword').val());
                    formData.append('Password', $('#newPassword').val());

                    $.ajax({
                        url: "/Account/UpdatePassword",
                        contentType: false,
                        processData: false,
                        traditional: true,
                        dataType: 'json',
                        data: formData,
                        type: "POST",
                        success: function (data) {

                            if (data.error == '') {
                                $('.loading').css('display', 'none');
                                swal({
                                    title: "Done",
                                    text: "Profile updated!",
                                    type: "success"
                                },
                                    function () {
                                        window.location.href = '/Account/UpdatePassword';
                                    });
                            } else {
                                 $('.loading').css('display', 'none');
                                swal({
                                    title: "Error",
                                    text: "Invalid Current Password!",
                                    type: "error"
                                },
                                    function () {
                                    window.location.href = '/Account/UpdatePassword';
                                });
                            }
                        },
                        error: function (data) {
                            $('.loading').css('display', 'none');
                        }
                    });
                }
            });
        });
    </script>