@model EnjoyOurTour.Models.ViewModel.TravelPromotion.TravelPromotionViewModel
@{
    ViewBag.Title = "AddPromotion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <h1 class="page-header">Update New Promotion</h1>
</div>

<form id="EditNewBannerForm" style="color:#001a33;" name="EditNewBannerForm" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <input hidden id="TravelPromotionId" name="TravelPromotionId" value="@Model.TravelPromotionId" />
            <div class="form-group">
                <label for="TravelPromotionTitle">Title</label>
                <textarea id="TravelPromotionTitle" name="TravelPromotionTitle">@Model.TravelPromotionTitle</textarea>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea id="Description" name="Description">@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label for="PhotoPath" id="lblPhotoPath">Promotion Image</label>
                <input type="file" id="PhotoPath" name="PhotoPath" accept="image/png, image/jpeg, image/jpg" oninput="setCustomValidity('')" required onchange="document.getElementById('showPromo').style.display = 'block'; if (this.files && this.files[0]) { var reader = new FileReader(); reader.onload = function (e) { $('#showPromo').attr('src', e.target.result); }; reader.readAsDataURL(this.files[0]); }" />
                <i style="color:crimson;">** Recommended Image Resolution 2048px*1152px</i>
                <br />
                <img id="showPromo" style="width:50%; display:none;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <button type="submit" id="editNewPromotionr" class="btn btn-primary pull-right">Update Promotion</button>
        </div>
    </div>
</form>
<div class="loading" style="display:none;z-index:100000">
    <div id="loader"></div>
</div>

<script>
    CKEDITOR.replace('Description');
    CKEDITOR.replace('TravelPromotionTitle');
    //CKEDITOR.on('instanceReady', function (evt) {
    //    CKEDITOR.instances['editor1'].insertHtml('<span style="color:red;">123</span>');
    //});

    $(document).ready(function () {
        $('#editNewPromotionr').click(function (e) {
            e.preventDefault();
            $('.loading').css('display', 'block');
            var image = document.getElementById('PhotoPath').files[0];
            var title = CKEDITOR.instances['TravelPromotionTitle'].getData();
            var form = $('form')[0];
            var formData = new FormData();
            formData.append('TravelPromotionId', $('#TravelPromotionId').val());
            formData.append('TravelPromotionTitle', CKEDITOR.instances['TravelPromotionTitle'].getData());
            formData.append('Description', CKEDITOR.instances['Description'].getData());
            formData.append('Image', document.getElementById('PhotoPath').files[0]);            

            if (title == '') {
                $('#lblTitle').html('<span class="asterisk">*Please enter Title for Promotion</span>');
            } else {
                $("#lblTitle .asterisk").remove();
                $('#lblTitle').html('Promotion Title');
            }

            $.ajax({
                url: "/TravelPromotion/EditTravelPromotion",
                contentType: false,
                processData: false,
                traditional: true,
                dataType: 'json',
                data: formData,
                type: "POST",
                success: function (data) {
                    $('.loading').css('display', 'none');
                    swal({
                        title: "Done",
                        text: "New Promotion was successfully added!",
                        type: "success"
                    },
                    function () {
                        window.location.href = '/TravelPromotion/TravelPromotion';
                    });
                },
                error: function (data) {
                    $('.loading').css('display', 'none');
                    //swal("Oops", "We couldn't connect to the server!", "error")
                }
            });
      
        });
    });
</script>